/*---------- Temporary ---------- */

header,
footer,
h1,
h2,
#welcome,
#learn,
#main-header,
#tagline {
    border: red 2px solid;
}


/*---------- Element Selectors ---------- */
body {
    background: #c0c0c0;
    font-family: Rockwell, Cambria, serif;
}

h1,
h2 {
    text-align: center;
    padding: 20px;
}

/* li {
    list-style-type: none;
} */

p {
    text-align: center;
    font-size: large;
}

footer {
    background-color: red;
    margin-bottom: 0;
    margin-top: 100px;
    display: block;
    position: sticky;
    
}

/*---------- ID Selectors ---------- */

#main-header,
#tagline {
    text-align: center;
    margin-bottom: 0;
}

#tagline {
    margin-top: 0;
}

/* #main-nav {
    display: flex;
    flex-direction: column;
} */

#dropdown {
    background: #c0c0c0;
}

#welcome,
#learn {
    padding: 30px 30px;
}

#welcome {
    background-color: #2a75bb;
}

#learn {
    background-color: #fcdd0f;
    margin-top: 50px;
}


/*---------- Class Selectors ---------- */

/* .item {
    flex-grow: 1;
} */

.wrapper {
    min-height: calc(100vh - 47px);
}

.main-content {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
}

.main-item {
    align-self: flex-start;
}

.result {
    display: block;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 10%;
    text-align: center;
}

/*---------- Pseduo-Classes ---------- */

a:link {
    text-decoration: none;
    color: inherit;
}


/*---------- Media Queries ---------- */

@media (min-width: 768px) {

    #welcome,
    #learn {
        display: flex;
        flex-direction: column;
        max-width: 50%;
        margin-left: auto;
    }

    /* #main-nav {
        flex-direction: row;
    }
    .item {
        flex-grow: 1;
    }  */

}

    footer {
        margin-top: 0;
    }

@media (min-width: 1025px) {

    #welcome,
    #learn {
        max-width: 30%;
        max-height: 10%;
        margin-top: 5%;
        margin-left: 10%;
        margin-right: 10%;
    }

    #landscape {
        display: flex;
        flex-direction: row;
    }

}