

/*---------- Element Selectors ---------- */
body {
    background: #c0c0c0;
    font-family: Rockwell, Cambria, serif;
}

h1,
h2 {
    text-align: center;
    padding: 20px;
}

nav {
    border-bottom: 2px red solid;
}

p {
    text-align: center;
    font-size: large;
}

a {                       
    text-decoration: none;
    color: black;
}


form {
    border: black 2px solid;
    width: 70%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}


input,
label {
    text-align: center;
    width: 40%;
    margin-left: 30%;
} 


footer {
    background-color: red;
    margin-bottom: 0;
    margin-top: 50px;
    padding: 10px;
    display: block;
    position: sticky;
    
}

/*---------- ID Selectors ---------- */


#main-header,
#tagline {
    margin-bottom: 0;
}

#tagline {
    text-align: center;
    margin-top: 0;
    border-bottom: 2px red solid;
}


#dropdown {
    background: #c0c0c0;
}

#region-nav {
    color: black;
    padding-top: 0;
}

#welcome,
#learn {
    padding: 30px 30px;
    border: 2px red solid;
}

#welcome {
    background-color: #2a75bb;
    margin-top: 50px;
}

#learn {
    background-color: #fcdd0f;
    margin-top: 50px;
}

#eeveelutions {
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*---------- Class Selectors ---------- */


.wrapper {
    min-height: calc(100vh - 113px);
}

.result {
    display: block;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 10%;
    text-align: center;
}

.sign-in {
    text-align: center;
}

.button {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.kanto-pokemon {
    text-align: center;
}


/*---------- Media Queries ---------- */

@media (min-width: 768px) {

    #welcome,
    #learn {
        display: flex;
        flex-direction: column;
        max-width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    #main-nav {
        display: flex;
        justify-content: center;
    }
    #navigation {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    #eeveelutions {
        max-width: 80%;
    }


     /* footer {
        margin-top: 0;
    }  */

}


@media (min-width: 1025px) {

    #welcome,
    #learn {
        max-width: 30%;
        max-height: 10%;
    } 

    #landscape {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

}