/*---------- Temporary ---------- */

header,
footer,
#welcome,
#learn,
#main-header,
#tagline {
    border: red 2px solid;
}


/*---------- Element Selectors ---------- */
body {
    background: #c0c0c0;
    font-family: Rockwell, Cambria, serif;
}

h1,
h2 {
    text-align: center;
}

/* li {
    list-style-type: none;
} */

p {
    text-align: center;
    font-size: large;
}

footer {
    background-color: red;
    margin-top: 100px;
    position: sticky;
    
}

/*---------- ID Selectors ---------- */

#main-header,
#tagline {
    text-align: center;
    margin-bottom: 0;
}

#tagline {
    margin-top: 0;
}

/* #main-nav {
    display: flex;
    flex-direction: column;
} */

#welcome,
#learn {
    padding: 30px 30px;
}

#welcome {
    background-color: #2a75bb;
}

#learn {
    background-color: #fcdd0f;
    margin-top: 50px;
}

/*---------- Class Selectors ---------- */

/* .item {
    flex-grow: 1;
} */


/*---------- Pseduo-Classes ---------- */

/* a:link {
    text-decoration: none;
} */


/*---------- Media Queries ---------- */

@media (min-width: 780px) {

    #welcome,
    #learn {
        display: flex;
        flex-direction: column;
    }

    /* #main-nav {
        flex-direction: row;
    }

    .item {
        flex-grow: 1;
    }  */

}

@media (min-width: 1025px) {

}